.event-card-container {
    margin-bottom: 10px;
    background-color: #33262b;
    border-radius: 10px;
    padding: 10px;
    color: white;
    text-align: left;
}

.event-suit-list {
    padding-inline-start: 20px;
    margin-top: 0.8em;
}

.event-release-list {
    padding-inline-start: 20px;
    margin-top: 0px;
}

@media only screen and (max-width: 768px) {
    .event-card-container {
        margin-right: 0;
        padding-bottom: 25px;
    }
}

.suit-link {
    font-size: 12px;
}

.event-title {
    font-size: 14px;
    font-weight: 500;
}

.event-subtitle {
    font-size: 12px;
    color: rgba(255,255,255,0.5);;
    margin-top: 5px;
}

.event-release-container {
    font-size: 12px;
    margin-left: 18px;
}

.event-release {
    margin-top: 8px;
}

.relative-event-date {
    color: rgba(255,255,255,0.5)
}
