.filter-box-container {
    margin-left: 10px;
    margin-bottom: 10px;
    width: 160px;
    font-size: 14px;
    font-weight: 700;
    color: #383838;
}

@media only screen and (max-width: 576px) {
    .filter-box-container {
        width: 100%;
        margin-left: 0;
    }
}

.filter-box-title {
    font-weight: 400;
    font-size: 12px;
    background-color: rgba(0,0,0,0.6);
    color: white;
    letter-spacing: 0.7px;
    padding: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Lato', sans-serif;
}

.filter-icon {
    width: 15px;
    height: 15px;
    margin: 0px 5px;
}

.filter-option-container {
    padding: 5px;
    background-color: rgba(255,255,255,0.6);
}

.child-option-container {
    display: flex;
    flex-direction: column;
    margin-left: 25px;
}

.filter-option {
    display: flex;
    flex-direction: row;
    padding-left: 5px;
    align-items: center;
}

.title-text-wrapper {
    display: flex;
}

.applied-filters {
    background-color: #d7443e;
    color: white;
    font-size: 12px;
    width: 18px;
    height: 18px;
    border-radius: 50px;
    text-align: center;
    font-weight: bold;
    margin-left: 5px;
}
