
.reflection-info-card {
    background-color: #33262b;
    border-radius: 10px;
    width: 250px;
    display: flex;
    flex-direction: row;
    height: 40%;
}

@media only screen and (max-width: 400px) {
    .reflection-info-card {
        margin-bottom: 10px;
    }
}

.reflection-card-column {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.reflection-icon {
    width: 60px;
    margin-top: 10px;
}

.CoR-title {
    color: white;
    font-size: 14px;
    font-weight: 500;
}

.CoR-description {
    font-size: 11px;
    color: white;
}

.level-input {
    margin-bottom: 10px;
    padding: 3px 5px;
    background-color: rgba(255,255,255,0.25);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.CoR-level {
    display: inline-block;
    color: lightyellow;
    padding: 5px;
    font-size: 11px;
    font-weight: 500;
    letter-spacing: 0.5px;
    text-transform: uppercase;
}

.CoR-level-change {
    width: 20px;
    padding: 0;
    height: 22px;
}
