
.suit-filter-container {
    width: calc(100vw - 30px);
    min-height: 12px;
    background-color: rgb(255,255,255,0.5);
    padding: 15px;
    padding-bottom: 5px;
    display: flex;
    z-index: 555;
}

.suit-filter-container.collapsed {
    padding-top: 5px;
    justify-content: space-between;
    height: 25px;
}

.filter-wrapper {
    width: calc(100% - 15px);
}

.filter-fields-wrapper {
    display: flex;
    flex-wrap: wrap;
}

.search-bar-wrapper input {
    padding-left: 5px !important;
}

.filter-title {
    width: 170px;
    margin-bottom: 15px;
    margin-top: 5px;
    font-size: 24px;
}

.filter-label {
    font-weight: normal;
    font-size: 13px;
}

.toggle-filter-btn {
    display: flex;
    align-items: center;
}

.toggle-filter-icon {
    width: 14px;
    background-color: rgba(255,255,255,0.55);
    padding: 5px;
    border-radius: 10px;
}
.toggle-filter-icon.collapse {
    transform: rotate(90deg);
    position: fixed;
    right: 10px;
    top: 50px;
}

.toggle-filter-label {
    font-size: 12px;
    font-style: italic;
    font-weight: 500;
    margin-left: 5px;
}

.search-bar-wrapper {
    margin-bottom: 10px;
    width: 200px;
}

.first {
    z-index: 10 !important;
}

.hidden {
    display: none;
}

.apply-filters-btn {
    width: 100%;
    padding: 10px;
    background-color: #33262b;
    color: white;
    border-radius: 50px;
    margin: 10px 0px;
}

.clear-filters-btn {
    margin-left: 10px;
    border-radius: 20px;
    height: 30px;
    background-color: #e082a6;
    font-weight: bold;
    font-size: 11px;
}

.clear-filters-btn:disabled {
    opacity: 0.7;
}

.filter-divider {
    width: 100%;
    border-top: 1px solid rgba(0,0,0,0.6);
    border-bottom: transparent;
}

.sort-button {
    margin-left: 8px;
    background-color: #e3bac2;
    padding: 6px;
    border-radius: 50px;
    font-size: 11px;
    margin-bottom: 5px;
}

.sort-button.active {
    font-weight: bold;
    background-color: #e082a6;
}

.sort-dir-icon {
    width: 10px;
    height: 10px;
    margin-left: 8px;
}

.sort-dir-icon.ascending {
    transform: rotate(180deg);
}

.sort-bar-container {
    display: flex;
    justify-content: space-between;
}

.sort-btn-container {
    display: flex;
    flex-wrap: wrap;
}

.suit-count-label {
    color: white;
    background-color: black;
    padding-left: 20px;
    padding-right: 20px;
}

.suit-count-label.collapsed {
    margin-top: -5px;
    margin-bottom: -5px;
    margin-right: -15px;
    padding-top: 2px;
}

.suit-count-label.expanded {
    margin-top: -10px;
    margin-bottom: -5px;
    margin-right: -15px;
    padding-top: 10px;
}

@media only screen and (max-width: 768px) {
    .suit-count-label.expanded {
        display: none;
    }
}
