.suit-cards-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 8px;
    position: fixed;
    height: 100vh;
}

.suit-cards-container.loaded {
    overflow-y: scroll;
}

.suit-card {
    width: 150px;
    height: 220px;
    margin: 8px;
    border: 1px solid #282c34;
}

.suit-card.active {
    filter: drop-shadow(0px 0px 8px lightpink);
    border: 1px solid lightpink;
}

.suit-img {
    display: block;
    width: 150px;
    height: 220px;
    object-fit: cover;
}


.suit-name {
    position: absolute;
    padding-left: 10px;
    margin-top: -40px;
    font-size: 12px;
    color: white;
    max-width: 115px;
    background-color: rgba(0,0,0,0.6);
    padding-bottom: 5px;
    padding-top: 5px;
    padding-right: 10px;
    border-radius: 0px 5px 5px 0px;
}

@media only screen and (max-width: 400px) {
    .suit-card {
        width: 125px;
        height: 180px;
    }
    .suit-img {
        width: 125px;
        height: 180px;
    }
    .suit-name {
        max-width: 105px;
    }
}

.suit-icon-container {
    position: absolute;
    display: flex;
    margin: 5px;
    flex-direction: column;
}

.suit-icon {
    margin: 3px;
    width: 20px;
    height: 20px;
}

.suit-icon.shadowed {
    filter: drop-shadow(0px 0px 5px white);
}

.narrow {
    margin-left: 215px;
}

.wide {
    margin-left: 55px;
}

.fb-login-button {
    background: center/cover url('facebook-sign-in-button.png') no-repeat;
    width: 150px;
    height: 35px;
}
