.suit-detail-container {
    min-width: 33%;
    background-color: #eddae1;
    border-radius: 5px;
    position: sticky;
    border: 20px solid #282c34;
    margin-top: 0px;
    padding: 20px;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

@media only screen and (max-width: 768px) {
    .suit-detail-container {
        flex-direction: column;
        justify-content: flex-start;
        min-width: calc(100vw - 80px);
    }
}

.suit-detail-left-column {
    display: flex;
    flex-direction: column;
    background-color: #e3bac2;
    border-radius: 10px;
    min-height: 50px;
    margin-bottom: 20px;
}

.suit-detail-img-container {
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    min-height: 0;
    border: 2px solid #33262b;
    border-radius: 0 0 10px 10px;

}

.suit-detail-img {
    -webkit-user-select: none;
    flex-shrink: 1;
    max-height: 100%;
    height: 100%;
    max-width: 100%;
}

.carousel {
    background-color: #33262b;
    border-radius: 10px;
}

@media only screen and (max-width: 768px) {
    .suit-detail-left-column {
        width: 100%;
        min-width: 0;
        min-height: 0;
    }

    .suit-detail-img-container {
        padding-top: 10px;
        min-width: 0;
        min-height: 0;
        width: 100%;
        height: 100%;
        justify-content: space-around;
    }
}

div {
    border: none;
    background-color: transparent;
    resize: none;
    outline: none;
}

.suit-title {
    font-weight: 500;
    font-size: 32px;
    color: black;
    margin-bottom: 3px;
    font-style: normal;
    margin-top: 10px;
    margin-bottom: 20px;
    font-family: Candara, sans-serif;
}

.suit-title-block {
    margin-bottom: 8px;
    margin-right: 20px;
    width: 60%;
    font-size: 14px;
    text-align: left;
}

@media only screen and (max-width: 768px) {
    .suit-title-block {
        width: 100%;
        font-size: 12px;
    }
    .suit-title {
        font-size: 24px;
    }
}

.suit-detail-type-button-container {
    width: 130px;
    background-color: #33262b;
    border-radius: 10px;
    margin-right: 20px;
    margin-top: 0;
    padding: 20px;
    flex-shrink: 0;
}


@media only screen and (max-width: 768px) {
    .suit-detail-type-button-container {
        width: auto;
        margin-bottom: 10px;
        margin-right: 0;
        padding-bottom: 10px;
    }
}

.suit-detail-type-button {
    width: 75px;
    margin-left: 0;
    margin-right: 8px;
    margin-bottom: 8px;
    border-radius: 50px;
    border-style: none;
    font-weight: bold;
    padding: 5px;
    font-size: 11px;
    border: 1px solid #33262b;
}

@media only screen and (max-width: 768px) {
    .suit-detail-type-button {
        width: auto;
        margin-right: 5px;
    }
}


button.selected {
    background-color: #d1668f;
    color: white;
}

.suit-detail-header-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.suit-image-buttons-container {
    display: flex;
    flex-direction: column;
}

.suit-subtitle-container {
    display: inline-flex;
    font-family: sans-serif;
    opacity: 0.5;
    flex-direction: row;
    align-items: center;
    margin-right: 5px;
    margin-bottom: 6px;
}

.suit-detail-icon-container {
    margin-left: 8px;
}

@media only screen and (max-width: 768px) {
    .suit-detail-icon-container {
        flex-direction: row;
    }
}

.favourite-icon-container {
    width: 20px;
    height: 20px;
}

.action-bar-icon {
    width: 100%;
    height: 100%;
    width: 20px;
    height: 20px;
}

.favourite-icon-container.detail {
    width: 100%;
    height: 35px;
    background-color: #33262b;
    border-radius: 10px 10px 0px 0px;
    box-sizing: border-box;
    padding: 5px;
    padding-right: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.action-bar-icon.unfavourited {
    filter: invert(100%);
    opacity: 0.5;
}

.owned-icon.detail {
    filter: invert(100%);
    opacity: 0.7;
    margin-right: 15px;
}

.suit-detail-close-button {
    position: absolute;
    right: -10px;
    top: -10px;
    width: 36px;
    height: 36px;
    border-radius: 18px;

}

.suit-icon.detail {
    padding: 5px;
}

.suit-attribute-icons {
    display: flex;
    align-items: center;
}

.suit-attribute-label {
    font-size: 12px;
    font-style: italic;
    font-weight: 500;
    color: whitesmoke;
    padding-right: 10px;
}


@media only screen and (max-width: 768px) {
    .suit-attribute-label {
        padding-right: 5px;
    }
}

.suit-likes-container {
    display: flex;
}

.suit-attribute-label.favourites {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
}

.suit-attribute-label.light {
    font-weight: 200;
    font-size: 13px;
}

@media only screen and (max-width: 768px) {
    .suit-attribute-label.light {
        display: none;
    }
    .owned-icon.detail {
        margin-right: 10px;
    }
}

.suit-detail-infocard-container {
    display: flex;
    flex-direction: column;
    height: fit-content;
    margin-top: 10px;
}


@media only screen and (max-width: 768px) {
    .suit-detail-infocard-container {
        flex-direction: column;
        width: 100%;
    }
}
