
.suit-filter-container {
    width: calc(100vw - 30px);
    min-height: 12px;
    background-color: rgb(255,255,255,0.3);
    padding: 15px;
    padding-bottom: 5px;
    display: flex;
    flex-direction: column;
    z-index: 555;
}

.suit-filter-container.collapsed {
    padding-top: 5px;
}

.filter-fields-wrapper {
    display: flex;
    flex-wrap: wrap;
}

input {
    padding-left: 5px !important;
}

.filter-title {
    width: 170px;
    margin-bottom: 15px;
    margin-top: 5px;
    font-size: 24px;
}

.filter-label {
    font-weight: normal;
    font-size: 13px;
}

.toggle-filter-btn {
    display: flex;
    align-items: center;
}

.toggle-filter-icon {
    width: 14px;
    background-color: rgba(255,255,255,0.55);
    padding: 5px;
    border-radius: 10px;
}
.toggle-filter-icon.collapse {
    transform: rotate(90deg);
    position: fixed;
    right: 10px;
    top: 50px;
}

.toggle-filter-label {
    font-size: 12px;
    font-style: italic;
    font-weight: 500;
    margin-left: 5px;
}

.search-bar-wrapper {
    margin-bottom: 10px;
    width: 200px;
}

.first {
    z-index: 10 !important;
}

.hidden {
    display: none;
}

.apply-filters-btn {
    width: 100%;
    padding: 10px;
    background-color: #33262b;
    color: white;
    border-radius: 50px;
    margin: 10px 0px;
}
