.suit-detail-container {
    height: 325px;
    background-color: #eddae1;
    border-radius: 5px;
    position: sticky;
    top: 0px;
    border: 20px solid #282c34;
    margin-top: 0px;
    padding: 20px;
    z-index: 10;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media only screen and (max-width: 468px) {
    .suit-detail-container {
        flex-direction: column;
        height: 520px;
        justify-content: flex-start;
    }
}

.suit-detail-img-container {
    display: flex;
    justify-content: center;
    width: 50%;
    padding: 10px;
    background-color: rosybrown;
    border-radius: 10px;
    margin-right: 40px;
}

.suit-detail-img {
    -webkit-user-select: none;
    flex-shrink: 1;
    max-height: 100%;
    max-width: 100%;
}

@media only screen and (max-width: 468px) {
    .suit-detail-img-container {
        margin-bottom: 10px;
        width: 100%;
        background-color: transparent;
        width: 100%;
        padding: 0;
        justify-content: flex-start;
    }

    .suit-detail-img {
        max-height: 225px;
    }
}

div {
    border: none;
    background-color: transparent;
    resize: none;
    outline: none;
}

.suit-title {
    font-weight: 500;
    font-size: 32px;
    color: black;
    margin-bottom: 10px;
    font-style: normal;
    margin-top: 10px;
    font-family: Candara, sans-serif;
}

.suit-title-block {
    margin-bottom: 8px;
    margin-right: 20px;
    width: 50%;
    color: darkgray;
    font-size: 14px;
    font-style: italic;
    text-align: left;
}

@media only screen and (max-width: 468px) {
    .suit-title-block {
        width: 100%;
        font-size: 12px;
    }
    .suit-title {
        font-size: 24px;
    }
}

.suit-detail-type-button-container {
    width: 130px;
    background-color: #33262b;
    border-radius: 10px;
    margin-right: 20px;
    margin-top: 0;
    padding: 20px;
    flex-shrink: 0;
}


@media only screen and (max-width: 468px) {
    .suit-detail-type-button-container {
        width: auto;
        margin-bottom: 10px;
        margin-right: 0;
        padding-bottom: 10px;
    }
}

.suit-detail-type-button {
    width: 75px;
    margin-left: 0;
    margin-right: 8px;
    margin-bottom: 8px;
    border-radius: 50px;
    border-style: none;
    font-weight: bold;
    padding: 5px;
    font-size: 12px;
}

@media only screen and (max-width: 468px) {
    .suit-detail-type-button {
        width: auto;
        margin-right: 5px;
    }
}


.selected {
    background-color: #d1668f;
    color: white;
}

.suit-detail-header-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.suit-image-buttons-container {
    margin-top: 10px;
}

.suit-subtitle-container {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    margin-right: 5px;
    margin-bottom: 6px;
}

.suit-detail-icon-container {
    margin-left: 8px;
}

@media only screen and (max-width: 468px) {
    .suit-detail-icon-container {
        flex-direction: row;
    }
}

.favourite-icon-container {
    width: 20px;
    height: 20px;
    float: right;
}

.heart-icon {
    width: 100%;
    height: 100%;
}

.heart-icon.unfavourited {
    filter: invert(100%);
    opacity: 0.5;
}
